@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(#f0f6f8, #e0e1e7);
}

section {
  width: 90%;
  max-width: 40rem;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #3a4346;
  color: #f0f6f8;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

header {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
}

header h1 {
  margin: 0;
  font-size: 1.75rem;
  color: #f7e596;
}

label {
  display: block;
  font-size: 0.85rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #dfd9be;
}

input,
select,
option {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  background-color: #b4b6c4;
  border: none;
  border-radius: 4px;
}

form button,
.btn-filter {
  display: block;
  width: 100%;
  padding: 0.75rem;
  margin-top: 1rem;
  background-color: #f9e175;
  border: none;
  border-radius: 4px;
  font: inherit;
  font-weight: bold;
  color: #3a4346;
  cursor: pointer;
}

form button:hover {
  background-color: #f9e175;
}

ul {
  list-style: none;
  margin: 0;
  padding-top: 16px;
  padding-left: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

li {
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

li article {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

li h2 {
  margin: 0;
  font-size: 1.25rem;
  color: #3a4346;
  text-wrap: pretty;
  max-width: 100%;
}

li p {
  margin: 0;
  font-size: 0.85rem;
  color: #325346;
  text-wrap: pretty;
  max-width: 100%;
}

li div {
  min-width: 0;
  flex-grow: 1;
  word-break: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

li button {
  font: inherit;
  padding: 0 0.5rem;
  background: transparent;
  border: none;
  color: #bf3131;
  cursor: pointer;
}

li button:hover {
  color: #7d0a0a;
}

.infobox {
  margin: 2rem 0;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  font-size: 0.85rem;
  border-radius: 4px;
}

.infobox-hint {
  border: 1px solid #96f5f7;
  color: #1ce0e4;
}

.infobox-warning.warning--low {
  border: 1px solid #f6d84f;
  color: #f6d84f;
}

.infobox-warning.warning--medium {
  border: 1px solid #f9a73b;
  color: #f9a73b;
}

.infobox-warning.warning--high {
  border: 1px solid #f97373;
  color: #f97373;
}

.goal-item-personal {
  background-color: #cdc1ff;
}

.goal-item-work {
  background-color: #c6e7ff;
}

.goal-item-study {
  background-color: #fff5cd;
}

.filter {
  background-color: #3a4346;
  color: #f0f6f8;
}

.sidebar-header {
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 1rem 1.5rem;
}
.close-btn {
  font-size: 1.75rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  margin-top: 0.2rem;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #3a4346;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  color: #f0f6f8;
  z-index: 1000;
}
.show-sidebar {
  transform: translate(0);
}

.form-search {
  padding: 2rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 998;
}
@media (max-width: 676px) {
  .sidebar {
    width: 100%;
  }
}
